body{
	color: black;
  background-color: #696969;
}
h2{
	text-align: center;
}
.signup-form-form{
	align-items: center;
}
button{
	float: right;
	background: blue;
	padding: 10px 15px;
	border-radius: 20px;
	margin-right: 500px;
	color: #fff;
	border: none;
}

button:hover{
	opacity: .7;
}
form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
    .topnav {
      background-color: white;
      overflow: hidden;
      text-align: center;
      font-family: Hobo Std;
    }


    .topnav a {
      float: center;
      color: black;
      text-align: center;
      padding: 14px 16px;
      margin: 83px;
      text-decoration: none;
      font-size: 35px;
    }


    .topnav a:hover {
      background-color: blue;
      color: white;
    }